form.form{
  width: 340px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input{
  width: 70%;
  background-color: #f8f9d2;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 15px;
  color: #000;
  letter-spacing: 1.5px;
  font-family: 'Roboto', sans-serif;
}
button.buttonSearch{
  display: inline-block;
  padding: 11px;
  border: none;
  outline: none;
  width: 100px;
  cursor: pointer;
}